<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AventStack.ExtentReports.Reporter.Configuration.Defaults.ExtentXReporterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AventStack.ExtentReports.Reporter.Configuration.Defaults.ExtentHtmlReporterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <AventStack.ExtentReports.Reporter.Configuration.Defaults.ExtentXReporterSettings>
            <setting name="projectName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="reportName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="serverUrl" serializeAs="String">
                <value>http://localhost:1337/</value>
            </setting>
        </AventStack.ExtentReports.Reporter.Configuration.Defaults.ExtentXReporterSettings>
        <AventStack.ExtentReports.Reporter.Configuration.Defaults.ExtentHtmlReporterSettings>
            <setting name="encoding" serializeAs="String">
                <value>utf-8</value>
            </setting>
            <setting name="protocol" serializeAs="String">
                <value>https</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>standard</value>
            </setting>
            <setting name="chartLocation" serializeAs="String">
                <value>top</value>
            </setting>
            <setting name="chartVisibilityOnOpen" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="documentTitle" serializeAs="String">
                <value>ExtentReports</value>
            </setting>
            <setting name="reportName" serializeAs="String">
                <value>ExtentReports</value>
            </setting>
            <setting name="offline" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="js" serializeAs="String">
                <value/>
            </setting>
            <setting name="css" serializeAs="String">
                <value/>
            </setting>
        </AventStack.ExtentReports.Reporter.Configuration.Defaults.ExtentHtmlReporterSettings>
    </applicationSettings>
</configuration>
